*{
    margin: 0;
    padding: 0;
}

:root{
    --color-h1: white;  
    --color-h2: 526DFF           /*aqui creo mi paleta de colores*/
}

main{

}

.primerarticle{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 80px 0px;
    margin: 0px 0px;
    background-image: url(../public/img/Mis\ viajes\ \(4\).png);
    color: var(--color-h1);
    justify-content:center;
    justify-content: space-between;  
  }



.contenedor{
    margin: 0;
    top: 40%;
    display: flex;
    align-items: center;
}


#santamarta1{
    width: 500px;
    height: 500px;
    display: flex;
}

#antioquia{
    width: 300px;
    height: 300px;
}

#amazonas{
    width: 300px;
    height: 300px;
}

.lugares{
    background-color: black;
    color: white;
    opacity: .7;
    font-size: 8pt;
    padding: 18px;
    position: relative;
    top: -50px;
}

footer {
    background-color: black;
    color: white;
    padding: 15px 0;                /*organizacion del footer*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.footer2{
    display: flex;
    align-items: center;                /* colocacion de ka redes sociales en el footer*/
    flex-wrap: wrap;
    padding: 80px 0px;
    margin: 0px 0px;
    color: var(--color-h1);
    justify-content:center;
    justify-content: space-between;  
  }

h2{
    color: skyblue;             /* color de los titulos*/
}

#santander{
    width: 300px;
    height: 300px; 
}

#arauca{
    width: 300px;
    height: 300px;
}