html{
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


*{
    margin: 0;
    padding: 0;
    
}

:root{
    --color-h1: white;  
    --color-h2: 526DFF           /*aqui creo mi paleta de colores*/
}

.primersection{
    background-image: url(../public/img/Mis\ viajes\ \(4\).png);
    background-repeat: no-repeat;
    width: 1200px; 
    position: fixed;
    top: 0;
    background-size: cover;
    gap: 0;
}

.logooo{
    display: flex;
    align-items: center;
    
}

.primerarticle{
    display: flex;
    align-items: center;
    color: var(--color-h1);
    justify-content: space-around;
}


.contenedorimg .tamañofoto{
    display: flex;
    width: 100%;

}

.espaciodiv{
    width: 60%;
    
}

hr{
    border-bottom: 2px solid lightgreen;
}

.losdivv{
    display: flex;
    justify-content: space-between;
    padding: 40px 0px;
}

a{
    text-decoration: none;
}

.espacio article img{
    padding:40px 5px;
    width: 30%;
   
}

.espacio{
    display: flex;
    justify-content: center;
}

aside{
    width: 30%;
}


.contenedor{
    /* display: flex; */
    height: 700px;
    width: 1000px;
}

.collage{
    width: 1000px;
    height: 700px;
    display: flex;
    flex-direction: row;

}

.dereinferior{
    height: 350px;
    width:100%;
    background-image: url(../public/img/arauca2.jpg);
    background-size: cover;
}

.contenedorizq{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 700px;
    border: 4px solid black;
}

.contenedordere{
    display: flex;
    flex-direction: column;
    width: 50%;
    border: 4px solid black;
    height: 700px;
}

.contenedorsupdere{
    display: flex;
    flex-direction: row;
    height: 350px;
    width: 100%;
}

.izqsuperior{
    height: 500px
 
}

.izqinferior{
    height:300px ;
    border: 4px solid black;
}

/* #santamarta1{
    width: 400px;
    height: 40px;
   
} */

/* #antioquia{
    width: 300px;
    height: 300px;
} */

/* #amazonas{
    width: 300px;
    height: 300px;
} */

.lugares{
    font-size: 8pt;
    padding: 18px;
    top: -50px;
    
}

.anuncios{
  width: 150px;
  height: 150px;
  border: 4px solid grey;
  margin: 15px;
  text-align: center;
  line-height: 150px;
  grid-template-columns: 0% 0% auto;
}

footer {
    background-color: black;
    color: white;
    padding: 15px 0;                /*organizacion del footer*/
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}


.footer2{
    display: flex;
    align-items: center;                /* colocacion de ka redes sociales en el footer*/
    flex-wrap: wrap;
    padding: 80px 0px;
    margin: 0px 0px;
    color: var(--color-h1);
    justify-content: flex-end;
    justify-content: space-between;  
  }

#tituloimg{
    color: white;   
    position: relative;   
    top: 300px; 
    right: 15px;
    opacity: 60%;
    height:30px;
    width: 107%;
    background-color: black;  
    /* display: inline-block;   */
}

/* #santander{
    width: 300px;
    height: 300px; 
}

#arauca{
    width: 300px;
    height: 300px;
} */